.category-modal-bg .ant-modal-content{
    padding:5%;
    /* background-color: white; */
    /* border-radius: 10px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/category-background.png");
    background-size: 100%;
    width: 90%;
    height: 90%;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.category-modal-bg .ant-modal-header{
    background: none;
}

.category-modal-bg .ant-modal-title{
    color: #39DB4A;
    font-weight: 600;
    font-size: 24px;
}