@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.head-left h1 {
    font-size: 50px;
    font-weight: 700;
    top:285px;
}
.head-left span{
    color:#39DB4A;
}
.head-left p{
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
}
.home1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    font-family:inter;
}
.h-content{
    margin-top: 200px;
}
.h-content p{
    font-size: 22px;
    font-weight: 500;
    color:#1B7C25;
}
.h-content h1{
    font-size: 35px;
    font-weight: 700;
}
.h-content h5{
    font-size: 25px;
    font-weight: 200;
}
.h3-left p{
    font-size: 22px;
    font-weight: 500;
    color:#1B7C25;
}
.h3-left h1{
    font-size: 35px;
    font-weight: 700;
}
.h3-left h5{
    font-size: 25px;
    font-weight: 200;
}
/* .h3-left{
    margin-top: 100px; */
/* } */
.favourit{
    position: absolute;
    border: none;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-left: 225px;
    /* margin-top: -px; */
    background-color:#39DB4A;
    width: 30px;
    height: 30px;
    top:0;
    right:0;
}
.home2{
    margin-top:30px;
    margin-bottom:20px;
}
/* .cards-1{
    /* margin-top: -500px; */
/* } */ 

@media (max-width:765px){
    .h-content{
        margin-top:30px ;
    }
    .img2 img{
       margin-left:20px;
    }
   
   .layer{
    margin:20px
   }
   /* .dishes{ */
     /* margin-left: 30px; */
   /* } */
}
@media (max-width:400px){
    .dishes{
        margin-left:30px;
    }
}
@media (max-width:320px){
    .dishes{
        margin-left:10px;
    }
}