@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family:"poppins";
  font-weight: 0;
}
.navbar{
    /* width:1236px; */
    height:60px;
    /* position:sticky;
    top: 0; */
    background-color:white;
    /* width:95%; */
  }
  
  
  Button{
    background-color: #39DB4A; 
    border: none;
    border-radius: 20%;
  }
  Button.navbar-toggler-collapsed{
    background-color: aquamarine;
  }
  Button.navbar-toggler{
    color:green;
  }
 
  @media (max-width:768px){
     .btn{
      align-items: center;
      /* width:70px; */
      margin: auto;
      
    }
    .navbar{
      height:60px;
      background-color: white;
    }
    /* .list_item{
      background-color:aqua;
    } */
    .navigate{
      /* background-color: aqua; */
      text-align: center;
      background-color:white;
    }
  }