.footer-1{
    color: #39DB4A;
    background-color:#FDF100E8;
    padding:40px;
    /* margin-left:10px; */
}
.footer-1 h5{
    color: #006837;
}
.footerLast{
    width: 100%;
    height:50px;
    margin-top:20px;
}
.medias{
   background:#EFEFFF;
   border-radius:20px;
   color:#39DB4A;
   padding:4px;
}
.medias:hover{
    background-color: #39DB4A;
    color:#EFEFFF;
}
.footer-1 li, a{
    color:#39DB4A;
    text-decoration: none;
    
}


